# Виртуальное окружение Python (самая тяжелая папка, её пушить нельзя!)
venv/
.venv/
env/
.env*

# Кэш и временные файлы Python / Pytest
__pycache__/
.pytest_cache/
*.pyc

# Отчеты Allure (мы не храним "сырые" результаты на GitHub)
allure-results/
allure-report/

# Папки для скачанных/загруженных файлов из наших тестов
downloads/

# Системный мусор (на случай, если кто-то откроет проект на Mac)
.DS_Store

# Линтеры и статические анализаторы
.mypy_cache/
.ruff_cache/

# Настройки редакторов кодаa
.vscode/
.idea/